@font-face {
  font-family: semibold;
  src: url(GenRyuMinTW-SemiBold.ttf);
}

@font-face {
  font-family: med;
    src: url(GenRyuMinTW-Medium.ttf);
}

@font-face {
  font-family: regular;
    src: url(GenRyuMinTW-Regular.ttf);
}

body {
  background-color: #e0e0e0;
  font-size: 18px;
  color: #606060;
}

a:link {
  color: #404040;
}

a:visited {
  color: #202020;
}

a:active {
  color: #606060;
}

h1 {
  color: #606060;
  font-size: 300%;
}

h2 {
  color: #404040;
  font-size: 200%;
}

h3 {
  color: #202020;
  font-size: 175%;
}

p {
  color: #000000;
  font-size: 150%;
}

/* Style the tab */
.tab {
  font-size: 175%;
  font-family: med;
  color: #000000;
  overflow: hidden;
  border: 1px solid #b2b2b2;
  background-color: #cccccc;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #b2b2b2;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition-duration: 0.2s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #c8c8c8;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #999999;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #b2b2b2;
  border-top: none;
}

table, th, td {
  border: 2px solid #000000;
  border-collapse: collapse;
  text-align: center;
}
