@font-face {
    font-family: semibold;
    src: url(GenRyuMinTW-SemiBold.ttf);
}

@font-face {
    font-family: med;
    src: url(GenRyuMinTW-Medium.ttf);
}

@font-face {
    font-family: regular;
    src: url(GenRyuMinTW-Regular.ttf);
}

body {
	background-color: #e0e0e0;
	font-size: 18px;
	color: #606060;
}

h1 {
	color: #606060;
	font-size: 300%;
}

h2 {
	color: #404040;
	font-size: 200%;
}

p {
	color: #000000;
	font-size: 175%;
}
