@font-face {
    font-family: semibold;
    src: url(GenRyuMinTW-SemiBold.ttf);
}

@font-face {
    font-family: med;
    src: url(GenRyuMinTW-Medium.ttf);
}

@font-face {
    font-family: regular;
    src: url(GenRyuMinTW-Regular.ttf);
}

body {
	background-color: #e0e0e0;
	font-size: 18px;
	color: #606060;
}
